@import './variables.scss';

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $body-bg;
}

.siteHeader .dropdown:not(.icon) {
	font-weight: bold;
	position: relative;

	&:hover:not(.selectAlbum) {
		top: 1px;
		border-bottom: 2px solid black;
	}
}

#root,
.fill {
	width: 100%;
	height: 100%;
}
