.table {
	max-width: 600px;
	margin-top: 30px !important;
	flex-grow: 1;
	display: block;
	overflow-y: auto;

	thead,
	tbody tr {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	thead {
		z-index: 1;
		background-color: #efefef;
		position: sticky;
		top: 0;
		left: 0;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 100%;
	padding: 30px 40px;
}

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.searchBlock {
	display: flex;
	align-items: center;
	input {
		margin-left: 20px !important;
	}
}

.header {
	margin-bottom: 0 !important;
}

.icon {
	margin-right: 20px !important;

	&.danger {
		&:hover {
			color: red;
		}
	}
}

.divider {
	&:after,
	&:before {
		height: 2px !important;
	}
}
